body {
    font-family : Arial;
    font-size   : 12px;
}

div {
    width        : 500px;
    margin-left  : auto;
    margin-right : auto;
}

#messages {
    border      : 1px solid #CECECE;
    overflow-y  : scroll;
    height      : 200px;
    line-height : 20px;
}

#message {
    width : 500px;
}